html {
  font-size: 16px;
}

body {
  font-family: 'Helvetica', sans-serif;
  line-height: normal;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

.flex-center {
  display: flex;
  align-items: center;
}

header, footer {
  justify-content: space-between;
}

#logo {

}

nav li {
  display: inline-block;
}

#banner {
  background-color: #bbb;
}

#banner img {
  display: block;
  width: 60%;
}

#campus {
  background-color: #ddd;
}

.featured {
  width: 60%;
}

.featured img {
  width: 100%;
}

.featured video {
  width: 100%;
}

.side {
  width: 40%;
}

.sidecard {
}

.sidecard img{
  width: 35%;
}

.sidecard-text{
  width: 65%;
}

.sidecard-text h3{
  font-size: 1.5rem;
}

#online {
  background-color: #ccc;
}

#online-courses {
  flex-wrap: wrap;
}

.subject-card {
  width: 30%;
}

.subject-card img{
  width: 100%;
}

#thesis {
  background-color: #eee;
}
